
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}



.menu-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightgray;
    outline: 2px solid black;
    padding: 12px;

}

.card {
    
    margin: 10px;
    width: 0px;
    width: 15rem;
    outline: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 10px 12px 2px;
}
.card:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 58);
}

.card img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.item_text {
    display: flex;
    height: 5rem;
    justify-content: center;
}
.menu_header {
    text-align: center;
}


























    













