
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}



.menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    
    
   
    
    

}

.card {
     
    width: 15rem;
    outline: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 10px 12px 2px;
    text-align: center;
    margin: 4px;
    background-color: rgb(221, 162, 52);
}
.card:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 58);
}
.card img {
    max-width: 100%;
}
.card h3 {
    
    margin: 8px;
}






























    













