
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}



.menu-container {
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid blue;
    margin-top: 10px;

    padding: 0

}


.menu-container div {
    outline: 2px solid black;
    margin: 10px;
    
}

.menu-container div h4, p {
padding: 10px;
margin-left: 10px;
}

















    













